@charset "UTF-8";
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.otf") format("opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("ProximaNova-Extrabld.otf") format("opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"), url("../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.otf") format("opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom-Bold.otf") format("opentype"), url("../fonts/Acrom-Bold.woff") format("woff"), url("../fonts/Acrom-Bold.ttf") format("truetype"), url("../fonts/Acrom-Bold.svg#Acrom-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom-ExtraBold.otf") format("opentype"), url("../fonts/Acrom-ExtraBold.woff") format("woff"), url("../fonts/Acrom-ExtraBold.ttf") format("truetype"), url("../fonts/Acrom-ExtraBold.svg#Acrom-ExtraBold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom-Light.otf") format("opentype"), url("../fonts/Acrom-Light.woff") format("woff"), url("../fonts/Acrom-Light.ttf") format("truetype"), url("../fonts/Acrom-Light.svg#Acrom-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom-Medium.otf") format("opentype"), url("../fonts/Acrom-Medium.woff") format("woff"), url("../fonts/Acrom-Medium.ttf") format("truetype"), url("../fonts/Acrom-Medium.svg#Acrom-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom-Regular.otf") format("opentype"), url("../fonts/Acrom-Regular.woff") format("woff"), url("../fonts/Acrom-Regular.ttf") format("truetype"), url("../fonts/Acrom-Regular.svg#Acrom-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom-Thin.otf") format("opentype"), url("../fonts/Acrom-Thin.woff") format("woff"), url("../fonts/Acrom-Thin.ttf") format("truetype"), url("../fonts/Acrom-Thin.svg#Acrom-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

body {
  color: #000;
  font-family: 'ProximaNova';
  font-size: 15px; }

.wrap {
  overflow: hidden; }

body a {
  color: #f9b53d; }

a:hover {
  color: #FF7C11;
  text-decoration: none; }

.nl {
  margin: 0;
  padding: 0;
  list-style: none; }

a:active,
a:focus {
  text-decoration: none;
  color: #f9b53d; }

.main-nav {
  padding-top: 20px; }
  .main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block; }
    .main-nav ul li {
      display: inline-block;
      text-transform: uppercase;
      font-family: 'Acrom';
      font-weight: bold;
      font-size: 15px;
      margin: 0 11px; }
    .main-nav ul a {
      color: #000; }
      .main-nav ul a .fa {
        color: #f9b53d; }
    .main-nav ul a:hover,
    .main-nav ul li.active a {
      color: #414141;
      text-decoration: none; }
    .main-nav ul .reg-link a {
      color: #f48e3b; }

.home .header {
  height: 796px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px; }
  .home .header .top-line {
    background: rgba(0, 0, 0, 0.3);
    border-bottom: none; }
  .home .header .navbar-toggle .icon-bar {
    background: #fff; }

.home .main-nav a {
  color: #fff; }

.home .main-nav a:hover,
.home .main-nav li.active a {
  color: #AAA7A6; }

.home .slogon {
  font-family: 'Acrom';
  font-weight: 900;
  font-size: 98px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -100px; }
  .home .slogon span {
    color: #f9b53d; }
  .home .slogon:before {
    content: "";
    position: absolute;
    width: 94px;
    background: #f9b53d;
    height: 2px;
    left: 50%;
    margin-left: -47px;
    bottom: -100px; }

.home .events {
  position: absolute;
  top: 50%;
  right: -40px;
  margin-top: -68px; }
  .home .events a {
    display: inline-block;
    margin: 0 7px; }
    .home .events a img {
      display: block;
      border: 2px solid #fff; }

.home .list {
  bottom: 33px;
  left: 0;
  right: 0;
  position: absolute;
  color: #fff;
  font-family: 'Acrom'; }
  .home .list .row {
    margin: 0; }
  .home .list .row > div {
    padding: 0;
    text-align: center; }
  .home .list .num,
  .home .list .text {
    display: inline-block;
    vertical-align: middle; }
  .home .list .num {
    font-size: 68px;
    font-weight: 900; }
  .home .list .text {
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.6;
    text-align: left; }
    .home .list .text .fa {
      margin-left: 3px; }

.home .content .container-fluid {
  padding-left: 0;
  padding-right: 0; }

.header {
  font-size: 15px; }
  .header .top-line {
    padding: 11px 0;
    background: #FCFCFC;
    margin-bottom: 50px;
    border-bottom: solid 1px #e9e9e9; }
  .header .logo {
    float: left;
    margin-right: 45px; }
  .header .main-nav {
    float: left; }
  .header .btn-bron {
    float: right;
    margin-top: 6px; }
  .header .navbar-toggle {
    float: right;
    margin: 10px 0 0 20px; }
    .header .navbar-toggle .icon-bar {
      background: #000;
      width: 27px;
      height: 3px;
      margin-bottom: 6px; }

.btn {
  background: #F48E3B;
  color: #fff;
  border-radius: 2px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Acrom';
  font-weight: 500;
  padding: 12px 18px; }

.btn:hover {
  background: #FF7C11;
  color: #fff; }

a.btn:hover,
a.btn:active,
a.btn:focus {
  color: #fff; }

.ico {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }

.ico-chashka {
  width: 60px;
  height: 60px;
  background-position: -5px -5px; }

.ico-gitara {
  width: 61px;
  height: 61px;
  background-position: -75px -5px; }

.ico-kruzhka-mini {
  width: 29px;
  height: 32px;
  background-position: -146px -5px; }

.ico-kruzka {
  width: 59px;
  height: 61px;
  background-position: -5px -76px; }

.ico-nozh-vilka {
  width: 60px;
  height: 60px;
  background-position: -74px -76px; }

.ico-pazl {
  width: 61px;
  height: 61px;
  background-position: -185px -5px; }

.ico-pizza {
  width: 62px;
  height: 60px;
  background-position: -144px -76px; }

.ico-stakan {
  width: 46px;
  height: 60px;
  background-position: -216px -76px; }

.ico-time-menu {
  width: 60px;
  height: 60px;
  background-position: -74px -146px; }

.ico-vilka-lozhka {
  width: 24px;
  height: 32px;
  background-position: -144px -146px; }

.main-row {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #F4F4F4; }
  .main-row > div {
    padding-left: 0;
    padding-right: 0; }
  .main-row .info-item {
    padding: 50px 42px;
    height: 362px;
    position: relative;
    border-right: 1px solid #F4F4F4;
    display: block;
    transition: all 0.2s ease-in-out;
    color: #000; }
    .main-row .info-item .title {
      font-weight: 700;
      font-family: 'Acrom';
      margin-bottom: 27px;
      text-transform: uppercase; }
    .main-row .info-item .title2 {
      color: #CCCCCC;
      font-weight: 900;
      font-size: 26px;
      font-family: "Acrom";
      margin-bottom: 20px; }
    .main-row .info-item .text {
      line-height: 1.6;
      height: 72px; }
    .main-row .info-item .icons {
      margin-bottom: 32px; }
      .main-row .info-item .icons .ico {
        margin-right: 20px; }
    .main-row .info-item .arr {
      position: absolute;
      bottom: 28px;
      right: 28px;
      color: #f9b53d; }
  .main-row a.info-item:hover {
    color: #fff;
    background: #f9b53d; }
    .main-row a.info-item:hover .arr {
      color: #FF7C11; }
  .main-row .press-item .title {
    position: relative;
    padding-left: 48px;
    margin-bottom: 55px; }
    .main-row .press-item .title:before {
      content: '“';
      position: absolute;
      font-family: Georgia;
      font-weight: bold;
      left: 0;
      top: -17px;
      color: #f9b53d;
      font-size: 75px;
      line-height: 1;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  .main-row .press-item:hover .title:before {
    color: #fff; }
  .main-row .calendar-item {
    text-align: center;
    padding-top: 50px; }
    .main-row .calendar-item .title {
      font-weight: 700;
      font-family: 'Acrom';
      margin-bottom: 27px;
      text-transform: uppercase; }
      .main-row .calendar-item .title a {
        font-size: 18px;
        vertical-align: middle; }
      .main-row .calendar-item .title .arr-left {
        margin-right: 10px; }
      .main-row .calendar-item .title .arr-right {
        margin-left: 10px; }
  .main-row .calendar-table {
    text-align: center;
    max-width: 250px;
    font-size: 12px;
    margin: 0 auto; }
    .main-row .calendar-table .table {
      margin-bottom: 0; }
    .main-row .calendar-table .table > tbody > tr > th,
    .main-row .calendar-table .table > tbody > tr > td {
      border-top: none; }
    .main-row .calendar-table th {
      color: #fff;
      font-weight: normal;
      background: #f9b53d; }
    .main-row .calendar-table td {
      color: #bdbdbd;
      position: relative; }
      .main-row .calendar-table td.cur {
        color: #000; }
      .main-row .calendar-table td .ev {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 8px;
        cursor: pointer; }
        .main-row .calendar-table td .ev:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8px 8px 0;
          border-color: transparent #f9b53d transparent transparent; }
        .main-row .calendar-table td .ev:hover {
          background: #FEF0D8; }
        .main-row .calendar-table td .ev.active {
          background: #f9b53d;
          color: #fff; }
  .main-row .event-item {
    display: block;
    height: 362px;
    position: relative; }
    .main-row .event-item:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 0;
      z-index: 5;
      margin-top: -14px;
      border-style: solid;
      border-width: 14px 0 14px 16px;
      border-color: transparent transparent transparent #fff; }
    .main-row .event-item .img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-position: center center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: all 0.2s ease-in-out; }
    .main-row .event-item:hover .img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
    .main-row .event-item .info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: -moz-linear-gradient(top, transparent 0%, transparent 58%, rgba(0, 0, 0, 0.7) 100%);
      background: -webkit-linear-gradient(top, transparent 0%, transparent 58%, rgba(0, 0, 0, 0.7) 100%);
      background: linear-gradient(to bottom, transparent 0%, transparent 58%, rgba(0, 0, 0, 0.7) 100%); }
      .main-row .event-item .info .live {
        position: absolute;
        top: 47px;
        left: 47px;
        background: #f9b53d;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        padding: 3px 12px;
        color: #fff;
        font-size: 12px;
        font-family: "Acrom"; }
      .main-row .event-item .info .text {
        color: #fff;
        font-size: 14px;
        position: absolute;
        left: 47px;
        bottom: 22px; }
        .main-row .event-item .info .text .title {
          font-weight: bold;
          text-transform: uppercase; }
        .main-row .event-item .info .text .fa {
          color: #f9b53d;
          margin-right: 3px; }
      .main-row .event-item .info .arr {
        position: absolute;
        bottom: 28px;
        right: 28px;
        color: #f9b53d; }

.shadow {
  position: relative; }
  .shadow:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 58%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 58%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 58%, rgba(0, 0, 0, 0.7) 100%); }

.carousel,
.ev-item {
  display: block; }
  .carousel .item,
  .ev-item .item {
    position: relative; }
  .carousel .img,
  .ev-item .img {
    height: 362px;
    background-position: center center;
    background-size: cover; }
  .carousel .title,
  .ev-item .title {
    position: absolute;
    font-size: 38px;
    color: #fff;
    top: 40px;
    left: 50px;
    text-transform: uppercase; }
  .carousel .info,
  .ev-item .info {
    position: absolute;
    bottom: 26px;
    left: 50px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
    .carousel .info .fa,
    .ev-item .info .fa {
      color: #f9b53d;
      margin-right: 3px; }
    .carousel .info .date,
    .ev-item .info .date {
      display: inline-block;
      margin-right: 66px; }
    .carousel .info a:hover .fa,
    .ev-item .info a:hover .fa {
      color: #FF7C11; }
    .carousel .info span,
    .ev-item .info span {
      color: #fff; }
  .carousel .owl-nav,
  .ev-item .owl-nav {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #D79115; }
    .carousel .owl-nav > div,
    .ev-item .owl-nav > div {
      display: inline-block;
      color: #fff;
      background: #f9b53d;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center; }
      .carousel .owl-nav > div:hover,
      .ev-item .owl-nav > div:hover {
        background: #FF7C11; }
    .carousel .owl-nav .owl-prev,
    .ev-item .owl-nav .owl-prev {
      margin-right: 1px; }

.bl-img {
  height: 362px;
  position: relative;
  background-size: cover;
  background-position: center center; }
  .bl-img:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0;
    height: 0;
    width: 0;
    border-bottom: 15px solid transparent;
    border-right: 17px solid #fff;
    border-top: 15px solid transparent; }

.soc-item {
  background: #F48E3B; }
  .soc-item .title {
    position: static;
    font-size: 15px; }
  .soc-item .icon {
    position: absolute;
    right: 40px;
    top: 44px;
    font-size: 22px; }
    .soc-item .icon a {
      color: #C3722F; }
  .soc-item .doska-user {
    margin-bottom: 20px; }
  .soc-item .user-img {
    float: left; }
    .soc-item .user-img img {
      border-radius: 50%;
      border: 2px solid #fff;
      display: block;
      width: inherit;
      max-width: inherit; }
  .soc-item .info {
    position: static;
    margin-left: 95px;
    padding-top: 10px; }
  .soc-item .name {
    font-size: 18px;
    font-weight: bold; }
  .soc-item .text {
    color: #fff; }

.menu-item {
  position: relative;
  height: 362px; }
  .menu-item .ac {
    position: absolute;
    font-weight: 700;
    color: #f9b53d;
    top: 48px;
    text-transform: uppercase;
    left: 50px; }
  .menu-item .icons {
    top: 35px;
    right: 40px;
    position: absolute; }
    .menu-item .icons .ico {
      margin: 0 1px; }
  .menu-item .title {
    font-size: 34px;
    font-family: "Acrom";
    color: #000;
    text-transform: uppercase;
    left: 50px;
    top: 125px;
    max-width: 300px; }
  .menu-item .price {
    position: absolute;
    bottom: 24px;
    left: 50px;
    color: #f49242;
    font-weight: 300;
    font-family: "Acrom";
    font-size: 68px;
    line-height: 68px; }
    .menu-item .price span {
      font-size: 15px;
      font-weight: 700;
      position: absolute;
      right: -36px;
      top: 7px;
      line-height: 15px; }

.item-maps .map {
  font-family: "Acrom";
  position: relative; }
  .item-maps .map .img {
    height: 181px; }
  .item-maps .map.map2 .text-mask {
    background: rgba(241, 133, 44, 0.8); }
  .item-maps .map .text-mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(244, 175, 58, 0.8);
    z-index: 1;
    color: #fff; }
  .item-maps .map .title {
    font-size: 38px;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 50px; }
  .item-maps .map .arr {
    color: #fff;
    position: absolute;
    bottom: 28px;
    right: 28px; }

.scheme-item .search {
  position: absolute;
  top: 43px;
  right: 43px;
  font-size: 24px; }

.scheme-item .list-sch {
  height: 140px;
  overflow: hidden;
  position: relative;
  margin-right: -30px;
  margin-bottom: 35px; }

.scheme-item li {
  margin-bottom: 10px; }
  .scheme-item li a {
    border-bottom: 1px dotted #f9b53d; }
    .scheme-item li a:hover {
      border-bottom: 1px dotted #FF7C11; }

.btn-border {
  color: #000;
  background: #fff;
  border: 2px solid #FF7C11;
  padding-top: 10px;
  padding-bottom: 10px; }

.btn-border.btn:hover {
  border: 2px solid #f9b53d;
  background: #fff;
  color: #000; }

.ps-container > .ps-scrollbar-y-rail {
  opacity: .3;
  cursor: pointer; }

.doska-item .doska-user {
  margin-bottom: 24px; }
  .doska-item .doska-user .user-img {
    float: left; }
    .doska-item .doska-user .user-img img {
      border-radius: 50%; }
  .doska-item .doska-user .info {
    margin-left: 72px; }
  .doska-item .doska-user .name {
    font-weight: 700;
    margin-bottom: 7px; }
  .doska-item .doska-user .soc a {
    color: #D0D0D0;
    font-size: 20px;
    margin-right: 5px; }
    .doska-item .doska-user .soc a:hover {
      color: #FF7C11; }

.doska-item .text {
  margin-bottom: 20px; }

.brands-list {
  margin: 66px 0 1px;
  text-align: center; }
  .brands-list a {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: inline-block;
    margin: 0 30px 60px; }
    .brands-list a:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
    .brands-list a:firs-child {
      margin-left: 0; }
    .brands-list a:last-child {
      margin-right: 0; }

.ver-img-list {
  text-align: center;
  font-size: 0;
  white-space: nowrap; }
  .ver-img-list img {
    white-space: nowrap; }

.footer .container {
  padding-top: 34px; }

.footer-nav {
  padding-top: 7px; }
  .footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    font-family: "Acrom";
    text-transform: uppercase;
    float: left;
    margin-right: 38px; }
    .footer-nav ul:last-child {
      margin-right: 0; }
  .footer-nav li {
    margin-bottom: 14px; }
  .footer-nav a {
    color: #000;
    text-decoration: underline; }
    .footer-nav a:hover {
      color: #FF7C11; }

.footer-soc {
  text-align: center; }
  .footer-soc a {
    font-size: 22px;
    color: #D0D0D0;
    margin: 0 15px; }
    .footer-soc a:hover {
      color: #FF7C11; }

.copy {
  text-align: center;
  font-family: "Acrom";
  font-size: 13px;
  text-transform: uppercase;
  color: #D0D0D0;
  margin-top: 10px;
  font-weight: bold; }

.footer-contact {
  float: right; }
  .footer-contact .phone {
    font-size: 25px;
    font-weight: 300;
    font-family: "Acrom";
    margin-bottom: 1px; }
  .footer-contact a {
    text-decoration: underline;
    font-size: 11px;
    text-transform: uppercase; }
    .footer-contact a:hover {
      text-decoration: none; }

.page-inner h1 {
  font-size: 58px;
  font-weight: 900;
  font-family: "Acrom";
  position: relative;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 70px; }
  .page-inner h1:before {
    content: "";
    width: 94px;
    position: absolute;
    left: 0;
    height: 2px;
    background: #F9B53D;
    bottom: -26px; }

.page-inner .list-events {
  padding-right: 55px; }

.date-top-item,
.list-events .date {
  font-family: "Acrom";
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #F48E3B;
  padding: 7px 15px;
  position: absolute;
  top: -4px;
  left: -5px;
  z-index: 1;
  text-transform: uppercase; }
  .date-top-item:before,
  .list-events .date:before {
    position: absolute;
    right: -20px;
    height: 0;
    width: 0;
    border-top: 32px solid #F48E3B;
    border-right: 20px solid transparent;
    top: 0;
    content: ""; }

.list-events > .row,
.list-items > .row {
  margin-left: -10px;
  margin-right: -10px; }
  .list-events > .row .col-sm-6,
  .list-items > .row .col-sm-6 {
    padding-left: 10px;
    padding-right: 10px; }

.list-events .item,
.list-items .item {
  margin-bottom: 20px;
  position: relative; }
  .list-events .item .img,
  .list-items .item .img {
    position: relative; }
    .list-events .item .img img,
    .list-items .item .img img {
      display: block;
      width: 100%; }

.list-events .info,
.list-items .info {
  padding: 30px;
  border: 1px solid #E9E9E9; }

.list-events .title,
.list-items .title {
  font-family: "Acrom";
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700; }

.list-events a,
.list-items a {
  color: #000; }

.list-events .intro,
.list-items .intro {
  line-height: 1.6; }

.list-events .arr {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: #f9b53d; }

.list-menu {
  margin-bottom: 70px; }
  .list-menu .row {
    margin-left: -15px;
    margin-right: -15px; }
  .list-menu .title {
    margin-bottom: 16px;
    font-size: 14px; }
  .list-menu .title2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #737373;
    margin-bottom: 24px;
    font-weight: bold;
    height: 22px; }
  .list-menu .info {
    padding: 15px 20px; }
    .list-menu .info .row {
      min-height: 50px; }
  .list-menu .litr {
    font-size: 14px;
    color: #a4a4a4; }
  .list-menu .price {
    color: #f48e3b;
    font-size: 15px;
    font-family: "Acrom"; }
  .list-menu .col-xs-6 {
    margin-bottom: 5px; }
    .list-menu .col-xs-6 .price {
      text-align: right; }

.title-cat {
  margin-bottom: 40px; }
  .title-cat .h2 {
    display: inline-block;
    margin: 0 !important;
    vertical-align: middle; }
  .title-cat .fill-cat {
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px; }
    .title-cat .fill-cat a {
      margin: 6px;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 18px;
      display: inline-block;
      padding: 6px 20px;
      border: 2px solid #F48E3B;
      background: #F48E3B;
      color: #fff; }
      .title-cat .fill-cat a.active,
      .title-cat .fill-cat a:hover {
        background: #fff;
        color: #000; }

.calendar-wrap {
  margin-left: 30px; }
  .calendar-wrap .title {
    border: 1px solid #E9E9E9;
    border-bottom: none;
    text-align: center;
    padding: 18px 0;
    font-size: 16px; }
    .calendar-wrap .title a {
      margin: 0 10px;
      font-size: 18px; }
  .calendar-wrap .table {
    border-top: none !important;
    border-color: #E9E9E9; }
    .calendar-wrap .table tr span {
      color: #f48e3b; }
    .calendar-wrap .table tr td {
      border-color: #E9E9E9;
      text-align: center;
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px; }
      .calendar-wrap .table tr td .dots {
        position: absolute;
        bottom: 1px;
        left: 3px;
        line-height: 1; }
        .calendar-wrap .table tr td .dots span {
          display: inline-block;
          height: 6px;
          width: 6px;
          background: #F48E3B;
          border-radius: 50%;
          line-height: 1; }
      .calendar-wrap .table tr td.active {
        background: #F49338;
        color: #fff; }
        .calendar-wrap .table tr td.active span {
          color: #fff; }
    .calendar-wrap .table th {
      border: none !important;
      text-align: center;
      font-weight: normal; }

.h2 {
  font-size: 38px;
  font-weight: 900;
  color: #000;
  font-family: "Acrom";
  text-transform: uppercase; }
  .h2 a {
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px; }

.left-content .h2 {
  margin-top: 0;
  margin-bottom: 35px; }

.archive-ev {
  margin-top: 100px; }
  .archive-ev .h2 {
    margin-bottom: 65px; }
  .archive-ev .carousel {
    border-right: 1px solid #fff; }
  .archive-ev .container-fluid {
    padding: 0; }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .row-flex .flex-item {
    width: 350px;
    margin: 0 auto; }
  .row-flex .flex1 {
    flex: 1 390px; }
  .row-flex .flex2 {
    flex: 0 330px; }
  .row-flex .flex3 {
    flex: 1 250px; }

.modal-art {
  position: fixed;
  top: 0;
  right: -50%;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  bottom: 0;
  background: #fff;
  z-index: 999;
  padding: 130px 80px 40px 47px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .modal-art.active {
    visibility: visible;
    opacity: 1;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden; }

.modal-mask {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(87, 41, 3, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .modal-mask .close {
    position: absolute;
    top: 130px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    opacity: 1;
    right: -50%;
    font-weight: normal;
    font-size: 22px;
    background: #F48E3B url(../images/close.png) no-repeat center center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .modal-mask.active {
    visibility: visible;
    opacity: 1; }
    .modal-mask.active .close {
      right: 50%; }

.o-hidden {
  overflow: hidden;
  padding-right: 17px; }

.m-content h1 {
  text-transform: uppercase;
  font-size: 58px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Acrom"; }

.m-content .img-m {
  position: relative;
  margin-bottom: 30px; }
  .m-content .img-m img {
    display: block;
    max-width: 100%; }

.m-content .img-map {
  margin-bottom: 30px;
  position: relative; }
  .m-content .img-map .info {
    position: absolute;
    width: 50%;
    text-align: center;
    right: 0px;
    bottom: 30px; }
  .m-content .img-map .img {
    z-index: 1;
    position: absolute;
    top: 0;
    background-position: center center;
    background-size: cover;
    bottom: 0;
    width: 50%; }
  .m-content .img-map .map {
    height: 330px;
    background-position: right center; }

.m-content .like {
  margin-bottom: 30px; }

.m-content .text-modal {
  line-height: 1.6; }
  .m-content .text-modal p {
    margin-bottom: 24px; }

.m-content .col-sm-7 .like {
  padding-top: 10px; }

.m-content .col-sm-5 {
  text-align: right; }

.m-content .links {
  margin: 50px 0 20px; }
  .m-content .links a {
    text-transform: uppercase; }
    .m-content .links a .fa {
      margin: 0 10px; }

.m-content .info-bl {
  font-family: "Acrom";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 35px; }
  .m-content .info-bl .price {
    font-size: 58px;
    color: #f48e3b;
    line-height: 60px;
    margin-bottom: 15px; }
  .m-content .info-bl .text {
    line-height: 2;
    color: #737373; }

.r-nav {
  border: solid 1px #e9e9e9;
  min-width: 300px;
  float: right; }
  .r-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 28px; }
    .r-nav ul li {
      font-family: "Acrom";
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 700; }
      .r-nav ul li:last-child {
        margin-bottom: 0; }
    .r-nav ul a {
      font-size: 15px;
      color: #ff7c11; }
    .r-nav ul .active a,
    .r-nav ul li a:hover {
      color: #000; }
  .r-nav .reg {
    border-top: solid 1px #e9e9e9;
    padding: 40px 26px; }
    .r-nav .reg .btn {
      display: block; }
    .r-nav .reg p {
      margin: 0 auto 20px;
      max-width: 200px; }

.mobile-nav {
  margin-top: -50px;
  padding: 30px 0px;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 50px;
  overflow-x: auto; }
  .mobile-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap; }
    .mobile-nav ul li {
      display: inline-block;
      font-family: "Acrom";
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 12px; }
    .mobile-nav ul a {
      font-size: 15px;
      color: #ff7c11; }
    .mobile-nav ul .active a,
    .mobile-nav ul li a:hover {
      color: #000; }

@media all and (max-width: 1200px) and (min-width: 992px) {
  .header .logo {
    margin-right: 20px; }
  .header .btn-bron {
    font-size: 12px;
    padding: 10px;
    margin-top: 10px; }
  .main-nav ul li {
    font-size: 14px;
    margin: 0 8px; }
    .main-nav ul li:first-child {
      margin-left: 0; }
    .main-nav ul li:last-child {
      margin-right: 0; }
  .main-row .info-item {
    padding: 40px 20px; }
  .main-row .calendar-item {
    padding-top: 40px; }
  .main-row .event-item .info .text,
  .main-row .event-item .info .live,
  .main-row .item-maps .map .title,
  .main-row .menu-item .title {
    left: 20px; }
  .main-row .scheme-item .list-sch {
    margin-right: -10px; }
  .main-row .scheme-item .btn-border {
    padding-left: 10px;
    padding-right: 10px; }
  .home .events {
    right: -150px; } }

@media (min-width: 1500px) {
  .home .content .container,
  .home .list .container {
    width: 1428px; }
  .container {
    width: 1300px; } }

@media (max-width: 1200px) {
  .main-nav.collapse {
    display: block; }
  .btn {
    font-size: 13px; }
  .main-row .info-item .text {
    line-height: 1.4; }
  .page-inner .list-events {
    padding-right: 15px; }
  .calendar-wrap {
    margin-left: 0; }
  .modal-art {
    width: 80%; }
  .modal-mask.active .close {
    right: 80%; } }

@media (max-width: 992px) {
  .o-hidden {
    padding: 0; }
  .flex2 {
    order: 1;
    margin: 10px 0 0 0 !important; }
    .flex2 .footer-soc, .flex2 .copy {
      text-align: left; }
  .row-flex {
    flex-flow: row wrap; }
  .page-inner .list-events {
    padding-right: 0px; }
  .footer-contact {
    float: none; }
  .navbar-toggle {
    display: block; }
  .top-line {
    position: relative; }
  .main-nav {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    padding: 20px;
    padding-bottom: 10px;
    top: 88px;
    background: rgba(0, 0, 0, 0.3); }
    .main-nav ul li {
      display: block;
      margin-bottom: 10px; }
  .collapse.in {
    visibility: visible; }
  .home .slogon {
    margin-top: -240px; }
    .home .slogon:before {
      bottom: -73px; } }

.footer-sport {
  margin-top: 30px;
  padding: 28px 0;
  height: 128px;
  background: #F4F4F4 url(../images/sports.jpg) repeat-x center; }

/*# sourceMappingURL=style.css.map */