@media all and (max-width: 1300px) and (min-width: 1110px) {
    .home .list .num {
        font-size: 56px;
    }
    .home .list .text {
        line-height: 1.5;
        margin-left: 5px;
    }
}
@media all and (max-width: 1300px) and (min-width: 992px) {
    .main-row .calendar-item {
        background: #fff;
        margin-left: -25px;
        margin-right: -25px;
        height: $hItem;
        position: relative;
        z-index: 5;
    }
    .main-row .calendar-item .title .arr-right {
        margin-left: 5px;
    }
    .main-row .calendar-item .title .arr-left {
        margin-right: 5px;
    }
    .main-row .event-item:before {
        left: 25px;
    }
    .main-row .info-item.b-l {
        padding-right: 25px;
    }
}
@media all and (max-width: 1200px) and (min-width: 992px) {
    .header .logo {
        margin-right: 20px;
    }
    .header .btn-bron {
        font-size: 12px;
        padding: 10px;
        margin-top: 10px;
    }
    .main-nav ul li {
        font-size: 14px;
        margin: 0 8px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .main-row {
        .info-item {
            padding: 40px 20px;
            .ico {}
            .arr {
                right: 15px;
                z-index: 10;
            }
        }
        .calendar-item {
            padding-top: 40px;
        }
        .item-maps .map .title,
        .menu-item .title {
            left: 20px;
        }
        .scheme-item {
            .list-sch {
                margin-right: -10px;
            }
            .btn-border {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .home .events {
        right: -150px;
    }
}
@media (min-width: 1500px) {
    .home {
        .content,
        .list {
            .container {
                width: 1428px;
            }
        }
    }
    .container {
        width: 1300px;
    }
}
@media (min-width: 1440px) {
    .header .logo {
        margin-right: 62px;
    }
    .home .header {
        font-size: 16px;
    }
    .home .slogon {
        font-size: 110px;
    }
    .home .slogon {
        width: 1100px;
        margin-left: -550px;
        height: 140px;
    }
}
@media (max-width: 1400px) {}
@media (max-width: 1200px) {
    .main-nav.collapse {
        display: block;
    }
    .btn {
        font-size: 13px;
    }
    .main-row {
        .info-item .text {
            line-height: 1.4;
        }
    }
    .page-inner .list-events {
        padding-right: 15px;
    }
    .calendar-wrap {
        margin-left: 0;
    }
    .modal-art {
        width: 80%;
        &.active {}
    }
    .modal-mask {
        &.active {
            .close {
                right: 80%;
            }
        }
    }
}
@media (max-width: 1110px) {
    .home .list .text {
        display: block;
        text-align: center;
    }
}
@media (max-width: 992px) {
    .list-adress .item .link{
        text-align: left;
    }
    .list-adress .item .graf span{
        display: block;
    }
    .map-wrap .heading .tabs a{
        padding-left: 20px;
        padding-right: 20px;
    }
    .trans-articles .item .info{
        padding: 15px;
    }
    .trans-articles .item .intro{
        margin-bottom: 20px;
    }
    .trans-articles .item .link{
        font-size: 13px;
    }
    .mobile-nav ul {
        width: 750px;
        margin: 0 auto;
    }
    .o-hidden {
        padding: 0;
    }
    .flex2 {
        order: 1;
        margin: 10px 0 0 0 !important;
        .footer-soc,
        .copy {
            text-align: left;
        }
    }
    .row-flex {
        flex-flow: row wrap;
    }
    .page-inner .list-events {
        padding-right: 0px;
    }
    .footer-contact {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .top-line {
        position: relative;
    }
    .main-nav {
        visibility: hidden;
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        padding: 28px 20px 1px;
        top: 88px;
        background: #F4F4F4;
        .fa {
            display: none;
        }
        ul li {
            display: block;
            margin-bottom: 28px;
        }
    }
    .home {
        .main-nav {
            background: rgba(0, 0, 0, 0.3);
            .fa {
                display: inline-block;
            }
        }
        .slogon {
            margin-top: -240px;
            &:before {
                bottom: -73px;
            }
        }
    }
    .collapse.in {
        visibility: visible;
    }
    .news-one {
        .text,
        .img-mews {
            float: none;
            width: inherit;
            margin-bottom: 35px;
            padding: 0;
        }
    }
    .years {
        margin-top: 30px;
        float: none;
        width: inherit;
        text-align: center;
        .y {
            display: inline-block;
            margin-left: 17px;
            margin-right: 17px;
        }
    }
}
@media (max-width: 768px) {
    .mobile-nav ul {
        width: inherit;
        margin: 0 auto;
    }
}
