@media all and (max-width: 1200px) and (min-width: 992px) {
    .header .logo {
        margin-right: 20px;
    }
    .header .btn-bron {
        font-size: 12px;
        padding: 10px;
        margin-top: 10px;
    }
    .main-nav ul li {
        font-size: 14px;
        margin: 0 8px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .main-row {
        .info-item {
            padding: 40px 20px;
            .ico {}
        }
        .calendar-item {
            padding-top: 40px;
        }
        .event-item .info .text,
        .event-item .info .live,
        .item-maps .map .title,
        .menu-item .title {
            left: 20px;
        }
        .scheme-item {
            .list-sch {
                margin-right: -10px;
            }
            .btn-border {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .home .events{
        right: -150px;
    }
}
@media (min-width: 1500px) {
    .home {
        .content,
        .list {
            .container {
                width: 1428px;
            }
        }
    }
    .container {
        width: 1300px;
    }
}
@media (max-width: 1400px) {}
@media (max-width: 1200px) {
    .main-nav.collapse {
        display: block;
    }
    .btn {
        font-size: 13px;
    }
    .main-row {
        .info-item .text {
            line-height: 1.4;
        }
    }
    .page-inner .list-events{
        padding-right: 15px;
    }
    .calendar-wrap{
        margin-left: 0;
    }
    .modal-art{
        width: 80%;
        &.active{
            
        }
    }
    .modal-mask{
         &.active{
             .close{
                 right: 80%;
             }
        }
    }
}
@media (max-width: 992px) {
    .o-hidden{
        padding: 0;
    }
    .flex2 {
        order: 1;
        margin: 10px 0 0 0 !important;
        .footer-soc, .copy{
            text-align: left;
        }
    }
    .row-flex{
        flex-flow: row wrap;
    }
    .page-inner .list-events{
        padding-right: 0px;
    }
    .footer-contact {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .top-line {
        position: relative;
    }
    .main-nav {
        visibility: hidden;
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        padding: 20px;
        padding-bottom: 10px;
        top: 88px;
        background: rgba(0, 0, 0, 0.3);
        ul li {
            display: block;
            margin-bottom: 10px;
        }
    }
    .collapse.in {
        visibility: visible;
    }
    .home .slogon {
        margin-top: -240px;
        &:before {
            bottom: -73px;
        }
    }
}
.footer-sport {
    margin-top: 30px;
    padding: 28px 0;
    height: 128px;
    background: #F4F4F4 url(../images/sports.jpg) repeat-x center;
}
@media (max-width: 768px) {}
