@import "bourbon";
@import "fonts";
$colorBtn: #F48E3B;
$colorBtnHover: #FF7C11;
$colorText: #000;
$colorLink: #f9b53d;
$fontSizeBtn:15px;
body {
    color: $colorText;
    font-family: 'ProximaNova';
}
.wrap{
    overflow: hidden;
}
a {
    color: $colorLink;
}
.home {
    .header {
        height: 796px;
        position: relative;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px;
    }
    .top-line {
        padding: 11px 0;
        background: rgba(0, 0, 0, .3);
    }
    .main-nav {
        a {
            color: #fff;
        }
        a:hover, li.active a {
            color: #AAA7A6;
        }
    }
    .slogon{
        font-family: 'Acrom';
        font-weight: 900;
        font-size: 98px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: absolute;
        width: 800px;
        left: 50%;
        margin-left: -400px;
        top: 50%;
        margin-top: -100px;
        span{
            color: $colorLink;
        }
        &:before{
            content: "";
            position: absolute;
            width: 94px;
            background:  $colorLink;
            height: 2px;
            left: 50%;
            margin-left: -47px;
            bottom: -100px;
        }
    }
    .events{
        position: absolute;
        top: 50%;
        right: -40px;
        margin-top: -68px;
        a{
            display: inline-block;
            margin: 0 7px;
            img{
                display: block;
                border: 2px solid #fff;
            }
        }
    }
}
.header {
    font-size: 15px;
    .logo {
        float: left;
        margin-right: 45px;
    }
    .main-nav {
        float: left;
    }
    .btn-bron{
        float: right;
        margin-top: 6px;
    }
}
.main-nav {
    padding-top: 20px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        li {
            display: inline-block;
            text-transform: uppercase;
            font-family: 'Acrom';
            font-weight: bold;
            font-size: 15px;
            margin: 0 11px;
        }
        a {
            color: #000;
        }
        a:hover, li.active a {
            color: #414141;
            text-decoration: none;
        }
        .reg-link a{
            color: #f48e3b;
        }
    }
}
.btn{
    background: $colorBtn;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Acrom';
    font-weight: bold;
    padding: 10px 25px;
}
.btn:hover{
    background: $colorBtnHover;
    color: #fff;
}
a.btn:hover, a.btn:active, a.btn:focus{
    color: #fff;
}



@import "responsive";
