@import "bourbon";
@import "fonts";
$colorBtn: #F48E3B;
$colorBtnHover: #FF7C11;
$colorText: #000;
$colorLink: #f9b53d;
$colorLinkHover: #FF7C11;
$fontSizeBtn:15px;
$hItem:362px;
$acrom:'Acrom';
body {
    color: $colorText;
    font-family: 'ProximaNova';
    font-size: 15px;
}
.wrap {
    overflow: hidden;
}
body a {
    color: $colorLink;
}
a:hover {
    color: $colorLinkHover;
    text-decoration: none;
}
.nl {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:active,
a:focus {
    text-decoration: none;
    color: $colorLink;
}
.main-nav {
    padding-top: 20px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        li {
            display: inline-block;
            text-transform: uppercase;
            font-family: 'Acrom';
            font-weight: bold;
            margin: 0 11px;
        }
        a {
            color: #000;
            .fa {
                color: $colorLink;
            }
        }
        a:hover,
        li.active a {
            color: #414141;
            text-decoration: none;
        }
        .reg-link a {
            color: #f48e3b;
        }
    }
}
.home {
    .header {
        height: 796px;
        position: relative;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px;
        .top-line {
            background: rgba(0, 0, 0, .8);
            border-bottom: none;
        }
        .navbar-toggle {
            .icon-bar {
                background: #fff;
            }
            &:before{
                visibility: hidden !important;
            }
            &:after{
                color: #fff !important;
            }
        }
    }
    .main-nav {
        a {
            color: #fff;
        }
        a:hover,
        li.active a {
            color: #AAA7A6;
        }
    }
    .slogon {
        font-family: 'Acrom';
        font-weight: 900;
        font-size: 98px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: absolute;
        width: 800px;
        left: 50%;
        margin-left: -400px;
        top: 50%;
        margin-top: -100px;
        span {
            color: $colorLink;
        }
        &:before {
            content: "";
            position: absolute;
            width: 94px;
            background: $colorLink;
            height: 2px;
            left: 50%;
            margin-left: -47px;
            bottom: -100px;
        }
    }
    .events {
        position: absolute;
        top: 50%;
        right: -40px;
        margin-top: -68px;
        a {
            display: inline-block;
            margin: 0 7px;
            img {
                display: block;
                border: 2px solid #fff;
            }
        }
    }
    .list {
        bottom: 33px;
        left: 0;
        right: 0;
        position: absolute;
        color: #fff;
        font-family: 'Acrom';
        .row {
            margin: 0;
        }
        .row > div {
            padding: 0;
            text-align: center;
        }
        .num,
        .text {
            display: inline-block;
            vertical-align: middle;
        }
        .num {
            font-size: 68px;
            font-weight: 900;
        }
        .text {
            text-transform: uppercase;
            margin-left: 10px;
            line-height: 1.6;
            text-align: left;
            .fa {
                margin-left: 3px;
            }
        }
    }
    .content {
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.header {
    .top-line {
        padding: 11px 0;
        background: #FCFCFC;
        margin-bottom: 50px;
        border-bottom: solid 1px #e9e9e9;
    }
    font-size: 15px;
    .logo {
        float: left;
        margin-right: 45px;
    }
    .main-nav {
        float: left;
    }
    .btn-bron {
        float: right;
        margin-top: 6px;
    }
    .navbar-toggle {
        float: right;
        margin: 10px 0 0 20px;
        .icon-bar {
            background: #000;
            width: 27px;
            height: 3px;
            margin-bottom: 6px;
        }
    }
}
.btn {
    background: $colorBtn;
    color: #fff;
    border-radius: 2px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Acrom';
    font-weight: 500;
    padding: 12px 18px;
}
.btn:hover {
    background: $colorBtnHover;
    color: #fff;
}
a.btn:hover,
a.btn:active,
a.btn:focus {
    color: #fff;
}
.ico {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.ico-chashka {
    width: 60px;
    height: 60px;
    background-position: -5px -5px;
}
.ico-gitara {
    width: 61px;
    height: 61px;
    background-position: -75px -5px;
}
.ico-kruzhka-mini {
    width: 29px;
    height: 32px;
    background-position: -146px -5px;
}
.ico-kruzka {
    width: 59px;
    height: 61px;
    background-position: -5px -76px;
}
.ico-nozh-vilka {
    width: 60px;
    height: 60px;
    background-position: -74px -76px;
}
.ico-pazl {
    width: 61px;
    height: 61px;
    background-position: -185px -5px;
}
.ico-pizza {
    width: 62px;
    height: 60px;
    background-position: -144px -76px;
}
.ico-stakan {
    width: 46px;
    height: 60px;
    background-position: -216px -76px;
}
.ico-time-menu {
    width: 60px;
    height: 60px;
    background-position: -74px -146px;
}
.ico-vilka-lozhka {
    width: 24px;
    height: 32px;
    background-position: -144px -146px;
}
.main-row {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #F4F4F4;
    > div {
        padding-left: 0;
        padding-right: 0;
    }
    .info-item {
        padding: 50px 42px;
        height: $hItem;
        position: relative;
        border-right: 1px solid #F4F4F4;
        display: block;
        transition: all .2s ease-in-out;
        color: #000;
        .title {
            font-weight: 700;
            font-family: 'Acrom';
            margin-bottom: 27px;
            text-transform: uppercase;
        }
        .title2 {
            color: #CCCCCC;
            font-weight: 900;
            font-size: 26px;
            font-family: $acrom;
            margin-bottom: 20px;
        }
        .text {
            line-height: 1.6;
            height: 72px;
        }
        .icons {
            margin-bottom: 32px;
            .ico {
                margin-right: 20px;
            }
        }
        .arr {
            position: absolute;
            bottom: 28px;
            right: 28px;
            color: $colorLink;
        }
    }
    a.info-item {
        &:hover {
            color: #fff;
            background: $colorLink;
            .arr {
                color: $colorLinkHover;
            }
        }
    }
    .press-item {
        .title {
            position: relative;
            padding-left: 48px;
            margin-bottom: 55px;
            &:before {
                content: '“';
                position: absolute;
                font-family: Georgia;
                font-weight: bold;
                left: 0;
                top: -17px;
                color: $colorLink;
                font-size: 75px;
                line-height: 1;
                @include transition(all .2s ease-in-out);
            }
        }
        .title2 {
            @include transition(all .2s ease-in-out);
        }
        &:hover {
            .title:before,
            .title2 {
                color: #fff;
            }
        }
    }
    .calendar-item {
        text-align: center;
        padding-top: 50px;
        .title {
            font-weight: 700;
            font-family: 'Acrom';
            margin-bottom: 27px;
            text-transform: uppercase;
            a {
                font-size: 18px;
                vertical-align: middle;
            }
            .arr-left {
                margin-right: 10px;
            }
            .arr-right {
                margin-left: 10px;
            }
        }
    }
    .calendar-table {
        text-align: center;
        max-width: 250px;
        font-size: 12px;
        margin: 0 auto;
        .table {
            margin-bottom: 0;
        }
        .table>tbody>tr>th,
        .table>tbody>tr>td {
            border-top: none;
        }
        th {
            color: #fff;
            font-weight: normal;
            background: $colorLink;
        }
        td {
            color: #bdbdbd;
            position: relative;
            &.cur {
                color: #000;
            }
            .ev {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 8px;
                cursor: pointer;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 8px 8px 0;
                    border-color: transparent $colorLink transparent transparent;
                }
                &:hover {
                    background: #FEF0D8;
                }
                &.active {
                    background: $colorLink;
                    color: #fff;
                }
            }
        }
    }
    .event-item {
        display: block;
        height: $hItem;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 0;
            z-index: 5;
            margin-top: -14px;
            border-style: solid;
            border-width: 14px 0 14px 16px;
            border-color: transparent transparent transparent #fff;
        }
        .img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center center;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all .2s ease-in-out;
        }
        &:hover .img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
        .info {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.7) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.7) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.7) 100%);
            .live {
                position: absolute;
                top: 47px;
                left: 47px;
                background: $colorLink;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                padding: 3px 12px;
                color: #fff;
                font-size: 12px;
                font-family: $acrom;
            }
            .text {
                color: #fff;
                font-size: 14px;
                position: absolute;
                left: 47px;
                bottom: 22px;
                .title {
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .fa {
                    color: $colorLink;
                    margin-right: 3px;
                }
            }
            .arr {
                position: absolute;
                bottom: 28px;
                right: 28px;
                color: #f9b53d;
            }
        }
    }
}
.shadow {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.7) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.7) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0.7) 100%);
    }
}
.carousel,
.ev-item {
    display: block;
    .item {
        position: relative;
    }
    .img {
        height: $hItem;
        background-position: center center;
        background-size: cover;
    }
    .title {
        position: absolute;
        font-size: 38px;
        color: #fff;
        top: 40px;
        left: 50px;
        text-transform: uppercase;
    }
    .info {
        position: absolute;
        bottom: 26px;
        left: 50px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        .fa {
            color: $colorLink;
            margin-right: 3px;
        }
        .date {
            display: inline-block;
            margin-right: 66px;
        }
        a {
            &:hover .fa {
                color: $colorLinkHover;
            }
        }
        span {
            color: #fff;
        }
    }
    .owl-nav {
        position: absolute;
        right: 30px;
        bottom: 30px;
        background: #D79115;
        > div {
            display: inline-block;
            color: #fff;
            background: $colorLink;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            &:hover {
                background: $colorLinkHover;
            }
        }
        .owl-prev {
            margin-right: 1px;
        }
        .owl-next {
            .fa {
                &.fa-caret-right {}
            }
        }
    }
}
.bl-img {
    height: $hItem;
    position: relative;
    background-size: cover;
    background-position: center center;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 0;
        @include triangle(30px 17px, #fff, left);
    }
}
.soc-item {
    background: #F48E3B;
    .title {
        position: static;
        font-size: 15px;
    }
    .icon {
        position: absolute;
        right: 40px;
        top: 44px;
        font-size: 22px;
        a {
            color: #C3722F;
            &:hover {}
        }
    }
    .doska-user {
        margin-bottom: 20px;
    }
    .user-img {
        float: left;
        img {
            border-radius: 50%;
            border: 2px solid #fff;
            display: block;
            width: inherit;
            max-width: inherit;
        }
    }
    .info {
        position: static;
        margin-left: 95px;
        padding-top: 10px;
    }
    .name {
        font-size: 18px;
        font-weight: bold;
    }
    .text {
        color: #fff;
    }
}
.menu-item {
    position: relative;
    height: $hItem;
    .ac {
        position: absolute;
        font-weight: 700;
        color: $colorLink;
        top: 48px;
        text-transform: uppercase;
        left: 50px;
    }
    .icons {
        top: 35px;
        right: 40px;
        position: absolute;
        .ico {
            margin: 0 1px;
            &.ico-kruzhka-mini {}
        }
        .ico {
            &.ico-vilka-lozhka {}
        }
    }
    .title {
        font-size: 34px;
        font-family: $acrom;
        color: #000;
        text-transform: uppercase;
        left: 50px;
        top: 125px;
        max-width: 300px;
    }
    .price {
        position: absolute;
        bottom: 24px;
        left: 50px;
        color: #f49242;
        font-weight: 300;
        font-family: $acrom;
        font-size: 68px;
        line-height: 68px;
        span {
            font-size: 15px;
            font-weight: 700;
            position: absolute;
            right: -36px;
            top: 7px;
            line-height: 15px;
        }
    }
}
.item-maps {
    .map {
        display: block;
        font-family: $acrom;
        position: relative;
        .img {
            height: $hItem / 2;
            background-size: cover;
        }
        &.map2 .text-mask {
            background: rgba(241, 133, 44, .8);
        }
        .text-mask {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(244, 175, 58, .8);
            z-index: 1;
            color: #fff;
            @include transition(all .3s ease-in-out);
        }
        .title {
            font-size: 38px;
            color: #fff;
            position: absolute;
            top: 40px;
            left: 50px;
        }
        .arr {
            color: #fff;
            position: absolute;
            bottom: 28px;
            right: 28px;
        }
        &:hover {
            .text-mask {
                opacity: .3;
            }
        }
    }
}
.scheme-item {
    .title {}
    .search {
        position: absolute;
        top: 43px;
        right: 43px;
        font-size: 24px;
        &:hover {}
    }
    .fa {
        &.fa-search {}
    }
    .list-sch {
        height: 140px;
        overflow: hidden;
        position: relative;
        margin-right: -30px;
        margin-bottom: 35px;
        &.nl {}
    }
    li {
        margin-bottom: 10px;
        a {
            border-bottom: 1px dotted $colorLink;
            &:hover {
                border-bottom: 1px dotted $colorLinkHover;
            }
        }
    }
    .btn {
        &:hover {}
        &.btn-border {}
    }
}
.btn-border {
    color: #000;
    background: #fff;
    border: 2px solid $colorBtnHover;
    padding-top: 10px;
    padding-bottom: 10px;
}
a.btn-border {
    &:active,
    &:focus {
        color: #000;
    }
}
.btn-border.btn:hover {
    border: 2px solid $colorLink;
    background: #fff;
    color: #000;
}
.ps-container>.ps-scrollbar-y-rail {
    opacity: .3;
    cursor: pointer;
}
.doska-item {
    .title {}
    .doska-user {
        margin-bottom: 24px;
        .user-img {
            float: left;
            img {
                border-radius: 50%;
            }
        }
        .info {
            margin-left: 72px;
        }
        .name {
            font-weight: 700;
            margin-bottom: 7px;
        }
        .soc {
            a {
                color: #D0D0D0;
                font-size: 20px;
                margin-right: 5px;
                &:hover {
                    color: $colorLinkHover;
                }
                .fa {
                    &.fa-vk {}
                }
                .fa {
                    &.fa-twitter {}
                }
            }
        }
    }
    .text {
        margin-bottom: 20px;
    }
    .btn {
        &:hover {}
    }
}
.brands-list {
    margin: 66px 0 1px;
    text-align: center;
    a {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        display: inline-block;
        margin: 0 30px 60px;
        &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
        &:firs-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    img {}
}
.ver-img-list {
    text-align: center;
    font-size: 0;
    white-space: nowrap;
    img {
        white-space: nowrap;
    }
}
.footer {
    margin-top: 160px;
    .container {
        padding-top: 34px;
    }
}
.no-f-m {
    margin-top: 0;
}
.footer-nav {
    padding-top: 7px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 13px;
        font-family: $acrom;
        text-transform: uppercase;
        float: left;
        margin-right: 38px;
        &:last-child {
            margin-right: 0;
        }
    }
    li {
        margin-bottom: 14px;
    }
    a {
        color: #000;
        text-decoration: underline;
        &:hover {
            color: $colorLinkHover;
            text-decoration: none;
        }
    }
}
.footer-soc {
    text-align: center;
    a {
        font-size: 22px;
        color: #D0D0D0;
        margin: 0 15px;
        &:hover {
            color: $colorLinkHover;
        }
        .fa {
            &.fa-vk {}
        }
        .fa {
            &.fa-facebook {}
        }
        .fa {
            &.fa-twitter {}
        }
    }
}
.copy {
    text-align: center;
    font-family: $acrom;
    font-size: 13px;
    text-transform: uppercase;
    color: #D0D0D0;
    margin-top: 10px;
    font-weight: bold;
}
.footer-contact,
.contact-block {
    float: right;
    .phone {
        font-size: 25px;
        font-weight: 300;
        font-family: $acrom;
        margin-bottom: 1px;
    }
    a {
        text-decoration: underline;
        font-size: 11px;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
        }
    }
}
.page-inner {
    margin-top: 100px;
    h1 {
        font-size: 58px;
        font-weight: 900;
        font-family: $acrom;
        position: relative;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 70px;
        &:before {
            content: "";
            width: 94px;
            position: absolute;
            left: 0;
            height: 2px;
            background: #F9B53D;
            bottom: -26px;
        }
    }
    .list-events {
        padding-right: 55px;
    }
}
.date-top-item,
.list-events .date {
    font-family: $acrom;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #F48E3B;
    padding: 7px 15px;
    position: absolute;
    top: -4px;
    left: -5px;
    z-index: 1;
    text-transform: uppercase;
    &:before {
        position: absolute;
        right: -20px;
        @include triangle(20px 32px, #F48E3B, up-left);
        top: 0;
        content: "";
    }
}
.list-events,
.list-items {
    > .row {
        margin-left: -10px;
        margin-right: -10px;
        .col-sm-6 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .item {
        margin-bottom: 20px;
        position: relative;
        .img {
            position: relative;
            a {
                &:hover {}
            }
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .info {
        padding: 30px;
        border: 1px solid #E9E9E9;
    }
    .title {
        font-family: $acrom;
        color: #000;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
    }
    a {
        color: #000;
        &:hover {}
    }
    .intro {
        line-height: 1.6;
    }
}
.list-events {
    .arr {
        position: absolute;
        bottom: 20px;
        right: 30px;
        color: $colorLink;
        .fa {}
    }
}
.list-menu {
    margin-bottom: 70px;
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .title {
        margin-bottom: 2px;
        font-size: 14px;
        height: 38px;
        line-height: 1.2;
    }
    .title2 {
        text-transform: uppercase;
        font-size: 13px;
        color: #737373;
        margin-bottom: 24px;
        font-weight: bold;
        height: 22px;
    }
    .info {
        padding: 15px 20px;
        .row {
            min-height: 50px;
        }
    }
    .litr {
        font-size: 14px;
        color: #a4a4a4;
        margin-bottom: 1px;
    }
    .price {
        color: #f48e3b;
        font-size: 15px;
        font-family: $acrom;
    }
    .col-xs-6 {
        margin-bottom: 5px;
        .price {
            text-align: right;
        }
    }
}
.title-cat {
    margin-bottom: 40px;
    .h2 {
        display: inline-block;
        margin: 0 !important;
        vertical-align: middle;
    }
    .fill-cat {
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
        a {
            margin: 6px;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 18px;
            display: inline-block;
            padding: 6px 20px;
            border: 2px solid #F48E3B;
            background: #F48E3B;
            color: #fff;
            &.active,
            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}
.calendar-wrap {
    margin-left: 30px;
    .title {
        border: 1px solid #E9E9E9;
        border-bottom: none;
        text-align: center;
        padding: 18px 0;
        font-size: 16px;
        a {
            margin: 0 10px;
            font-size: 18px;
        }
        span {}
    }
    .table {
        border-top: none !important;
        border-color: #E9E9E9;
        tbody {}
        tr {
            span {
                color: #f48e3b;
            }
            td {
                border-color: #E9E9E9;
                text-align: center;
                position: relative;
                padding-top: 15px;
                padding-bottom: 15px;
                .dots {
                    position: absolute;
                    bottom: 1px;
                    left: 3px;
                    line-height: 1;
                    span {
                        display: inline-block;
                        height: 6px;
                        width: 6px;
                        background: #F48E3B;
                        border-radius: 50%;
                        line-height: 1;
                    }
                }
                &.active {
                    background: #F49338;
                    color: #fff;
                    span {
                        color: #fff;
                    }
                }
            }
        }
        th {
            border: none !important;
            text-align: center;
            font-weight: normal;
            span {}
        }
    }
}
.h2,
h2 {
    font-size: 38px;
    font-weight: 900;
    color: #000;
    font-family: $acrom;
    text-transform: uppercase;
    a {
        font-weight: bold;
        margin-left: 10px;
        font-size: 15px;
        &:hover {}
    }
}
.left-content {
    p {
        line-height: 1.6;
        margin-bottom: 20px;
    }
    .h2 {
        margin-top: 0;
        margin-bottom: 35px;
    }
}
.archive-ev {
    .h2 {
        margin-bottom: 65px;
    }
    margin-top: 100px;
    .carousel {
        border-right: 1px solid #fff;
    }
    .container-fluid {
        padding: 0;
    }
}
.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    .flex-item {
        width: 350px;
        margin: 0 auto;
    }
    .flex1 {
        flex: 1 390px;
    }
    .flex2 {
        flex: 0 330px;
    }
    .flex3 {
        flex: 1 250px;
    }
}
.modal-art {
    position: fixed;
    top: 0;
    right: -50%;
    visibility: hidden;
    opacity: 1;
    width: 50%;
    bottom: 0;
    background: #fff;
    z-index: 999;
    padding: 130px 80px 40px 47px;
    @include transition(all .3s ease-in-out);
    &.active {
        visibility: visible;
        opacity: 1;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.modal-mask {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(87, 41, 3, .5);
    @include transition(all .3s ease-in-out);
    .close {
        position: absolute;
        top: 130px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: #fff;
        line-height: 50px;
        cursor: pointer;
        opacity: 1;
        right: -50%;
        font-weight: normal;
        font-size: 22px;
        background: #F48E3B url(../images/close.png) no-repeat center center;
        @include transition(all .3s ease-in-out);
    }
    &.active {
        visibility: visible;
        opacity: 1;
        .close {
            right: 50%;
        }
    }
}
.o-hidden {
    overflow: hidden;
    padding-right: 17px;
}
.m-content {
    h1 {
        text-transform: uppercase;
        font-size: 58px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 50px;
        font-family: $acrom;
    }
    .img-m {
        position: relative;
        margin-bottom: 30px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .img-map {
        margin-bottom: 30px;
        position: relative;
        .info {
            position: absolute;
            width: 50%;
            text-align: center;
            right: 0px;
            bottom: 30px;
        }
        .img {
            z-index: 1;
            position: absolute;
            top: 0;
            background-position: center center;
            background-size: cover;
            bottom: 0;
            width: 50%;
        }
        .map {
            height: 330px;
            background-position: right center;
        }
    }
    .like {
        margin-bottom: 30px;
        img {}
    }
    .text-modal {
        line-height: 1.6;
        p {
            margin-bottom: 24px;
        }
    }
    .col-sm-7 {
        .like {
            padding-top: 10px;
        }
    }
    .col-sm-5 {
        text-align: right;
        .btn {
            &:hover {}
            &.btn-border {}
        }
    }
    .links {
        margin: 50px 0 20px;
        a {
            text-transform: uppercase;
            .fa {
                //   margin: 0 10px;
            }
        }
        .pull-left {
            .fa {
                margin-right: 10px;
            }
        }
        .pull-right {
            .fa {
                margin-left: 10px;
            }
        }
    }
    .info-bl {
        font-family: $acrom;
        font-weight: bold;
        text-transform: uppercase;
        .price {
            font-size: 58px;
            color: #f48e3b;
            line-height: 60px;
            margin-bottom: 15px;
        }
        .weight {}
        .text {
            line-height: 2;
            color: #737373;
        }
        margin-bottom: 35px;
    }
}
.years {
    border: solid 1px #e9e9e9;
    min-width: 300px;
    float: right;
    padding: 28px;
    padding-bottom: 1px;
    font-family: $acrom;
    font-weight: bold;
    .y {
        margin-bottom: 30px;
        text-align: center;
        a {
            color: $colorLinkHover;
            &:hover {
                color: $colorLink;
            }
        }
    }
}
.r-nav {
    border: solid 1px #e9e9e9;
    min-width: 300px;
    float: right;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 28px;
        li {
            font-family: $acrom;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 700;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            font-size: 15px;
            color: #ff7c11;
            &:hover {}
        }
        .active a,
        li a:hover {
            color: #000;
        }
    }
    .reg {
        border-top: solid 1px #e9e9e9;
        padding: 40px 26px;
        .btn {
            display: block;
        }
        p {
            margin: 0 auto 20px;
            max-width: 200px;
        }
    }
}
.mobile-nav {
    margin-top: -50px;
    padding: 30px 10px;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 50px;
    overflow-x: auto;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        li {
            display: inline-block;
            font-family: $acrom;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 12px;
        }
        a {
            font-size: 15px;
            color: #ff7c11;
            &:hover {}
        }
        .active a,
        li a:hover {
            color: #000;
        }
    }
}
.reklama-img {
    margin: 22px 0 34px;
    > div {
        padding: 0;
        img {
            width: 100%;
        }
    }
}
.footer-sport {
    margin-top: 30px;
    padding: 28px 0;
    height: 128px;
    background: #F4F4F4 url(../images/sports.jpg) repeat-x center;
}
.list-jobs {
    margin: 50px 0 0 10px;
    padding: 0;
    list-style: none;
    li {
        margin-bottom: 30px;
    }
    .title {
        color: #ff7c11;
        font-weight: 700;
        font-family: $acrom;
        text-transform: uppercase;
        span {
            cursor: pointer;
            &.active {
                .fa {
                    transform: rotate(90deg);
                }
            }
            .fa {
                margin-right: 10px;
            }
        }
    }
    .text {
        padding-left: 18px;
        display: none;
        h3 {
            margin-top: 15px;
            font-size: 15px;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $acrom;
            padding-bottom: 3px;
        }
        p {
            margin: 0;
            padding-bottom: 10px;
        }
    }
}
.contact-phone {
    text-align: right;
    font-size: 24px;
    font-family: $acrom;
    font-weight: 300;
}
.contact-form {
    margin-top: 45px;
    .form-group {
        margin-bottom: 30px;
    }
    textarea {
        height: 200px;
        resize: none;
    }
}
.form-control {
    border: solid 1px #e9e9e9;
    border-radius: 0;
    box-shadow: none;
    padding-left: 17px;
    font-size: 15px;
    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px lighten($colorLink, 15);
        border-color: lighten($colorLink, 15);
    }
}
.header .navbar-toggle {
    height: 47px;
    width: 49px;
    position: relative;
    margin: 7px 0 0 36px;
    &:before{
        content: "";
       // transition: all .5s ease-in-out;
    }
}
.header .navbar-toggle.active {
    .icon-bar {}
    span {
        display: none;
    }
    &:after {
        content: "×";
        line-height: 1;
        font-family: sans-serif;
        font-size: 45px;
        line-height: 46px;
        position: absolute;
        top: -7px;
        left: 9px;
        color: #000;
    }
    &:before {
        content: "";
        position: absolute;
        background: #F7F5F4;
        top: -20px;
        width: 80px;
        height: 90px;
        left: -17px;
    }
}
input.form-control,
select.form-control {
    height: 50px;
}
textarea.form-control {
    padding-top: 16px;
}
select.form-control {
    option {}
}
.btn-wrap {
    .btn {}
}
.select-wrap {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 23px;
        right: 16px;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #f9b53d transparent transparent transparent;
        pointer-events: none;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
.press-block {
    margin-top: 80px;
    h2 {
        margin-bottom: 35px;
    }
}
.press-list {
    .item {
        min-height: 300px;
        margin-bottom: 15px;
        .img {
            margin-bottom: 16px;
            a {
                &:hover {}
            }
            img {
                display: block;
                width: 100%;
            }
        }
        .date {
            font-size: 14px;
            line-height: 1.6;
            color: #b6b6b6;
        }
        .title {
            color: #f9b53d;
            font-weight: bold;
            a {
                color: #f9b53d;
                &:hover {
                    color: $colorLinkHover;
                }
            }
        }
    }
}
.news-list {
    .row {
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #f4f4f4;
    }
    .date {
        display: inline-block;
        background-color: #f9b53d;
        color: #fff;
        font-size: 12px;
        padding: 2px 5px;
        margin-bottom: 10px;
    }
    .title {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 17px;
        font-weight: bold;
        font-family: $acrom;
        a {
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .intro {
        line-height: 1.5;
    }
    .img {
        a {
            &:hover {}
        }
        img {
            display: block;
            max-width: 100%;
        }
    }
}
.more {
    text-transform: uppercase;
    text-align: center;
    margin: 64px 0 50px;
    a {
        color: $colorLinkHover;
        font-weight: bold;
        font-family: $acrom;
        &:hover {
            text-decoration: underline;
        }
    }
}
.back {
    margin-bottom: 40px;
    font-weight: bold;
    font-family: $acrom;
    a {
        /*  color: $colorLinkHover; 
        &:hover {
            text-decoration: underline;
        }
        */
    }
    .fa {
        margin-right: 5px;
    }
}
.news-one .date,
.bl-date {
    display: inline-block;
    background-color: #f9b53d;
    color: #fff;
    font-size: 20px;
    padding: 4px 18px;
    margin-bottom: 20px;
}
.news-one {
    h1 {
        font-size: 38px;
        margin-bottom: 30px;
        max-width: 600px;
        &:before {
            background: none;
        }
    }
    .text {
        line-height: 1.7;
        padding-right: 0px;
        float: left;
        width: 50%;
    }
    p {
        margin-bottom: 20px;
    }
    .img-mews {
        float: right;
        width: 46%;
    }
}
.trans-list {
    .item {
        margin-bottom: 55px;
        .date {
            display: inline-block;
            background-color: #f9b53d;
            color: #fff;
            font-size: 17px;
            padding: 4px 18px;
            margin-bottom: 20px;
        }
        .list {
            font-family: $acrom;
            font-weight: bold;
            .it {
                margin-bottom: 15px;
            }
        }
        .time,
        .icons,
        .title {
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
        }
        .time {}
        .icons {
            span {
                display: inline-block;
                width: 38px;
                text-align: center;
                img {
                    max-width: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        img {}
        .title {}
    }
}
.trans-articles {
    .item {
        margin-bottom: 55px;
        .img {
            a {
                &:hover {}
            }
            img {
                display: block;
                width: 100%;
            }
        }
        .info {
            padding: 25px;
            border: 1px solid #e9e9e9;
            border-top: none;
        }
        .intro {
            margin-bottom: 35px;
            line-height: 1.5;
        }
        .link {
            text-align: right;
            text-transform: uppercase;
            font-weight: bold;
            a {
                color: $acrom;
                &:hover {
                    text-decoration: underline;
                }
            }
            .fa {
                margin-left: 8px;
            }
        }
    }
}
.list-adress {
    margin-top: 37px;
    padding-right: 15px;
    position: relative;
    height: 700px;
    overflow: hidden;
    .item {
        cursor: pointer;
        padding: 13px 17px;
        border-bottom: solid 1px #f4f4f4;
        .title {
            font-weight: bold;
            text-transform: uppercase;
            font-family: $acrom;
            margin-bottom: 13px;
            .ico {
                display: inline-block;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                background: #cacaca url(../images/ico-map.png) no-repeat center 2px;
                margin-right: 7px;
                &.green {
                    background-color: #34943c;
                }
                &.pink {
                    background-color: #b4359d;
                }
                &.red {
                    background-color: #d0021b;
                }
            }
        }
        .adr {
            display: inline-block;
            margin-bottom: 11px;
            color: $colorLink;
            font-weight: bold;
            line-height: 1.2;
            border-bottom: 1px dotted $colorLink;
        }
        .graf {
            color: #a4a4a4;
            margin-bottom: 6px;
            span {
                margin-right: 10px;
            }
        }
        .phone {}
        .link {
            margin-top: 15px;
            text-align: right;
            opacity: 0;
            a {
                font-weight: bold;
                &:hover {}
                .fa {
                    margin-left: 5px;
                }
            }
        }
        &:hover,
        &.active {
            background: #f8f8f8;
            .link {
                opacity: 1;
            }
        }
    }
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background: #f3f3f3;
}
.map-wrap {
    margin-bottom: 24px;
    .heading {
        .title {
            margin-bottom: 0px;
            margin-top: 8px;
            color: $colorLink;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 1px dotted $colorLink;
            display: inline-block;
            margin-left: 7px;
            .fa {
                margin-right: 5px;
            }
            &:hover {
                border-color: #fff;
            }
        }
        .tabs {
            float: right;
            a {
                display: block;
                float: left;
                padding: 9px 41px 7px;
                color: #f48e3b;
                font-weight: bold;
                font-family: $acrom;
                &.active {
                    background-color: #f8f8f8;
                    border-radius: 2px 2px 0 0;
                    color: #000;
                }
                &:hover {}
            }
        }
    }
    .map {}
}
.time-wrap {
    border-radius: 2px;
    border: solid 1px #f4f4f4;
    padding: 22px;
    padding-bottom: 1px;
    .title {
        font-family: $acrom;
        font-weight: bold;
        margin-bottom: 24px;
        text-transform: uppercase;
    }
    table {
        width: 100%;
        td {
            vertical-align: top;
        }
    }
    .days {
        vertical-align: top;
        width: 22%;
        .d {
            background-color: #f9b53d;
            color: #fff;
            padding: 2px 9px;
            display: inline-block;
            margin-bottom: 10px;
        }
        span {
            color: #a4a4a4;
            font-size: 11px;
            display: block;
        }
    }
    .time-item {
        text-align: center;
        .t {
            line-height: 22px;
            margin-bottom: 10px;
        }
        .pr {
            font-size: 14px;
            color: #a4a4a4;
        }
    }
    .col-md-6 {
        margin-bottom: 26px;
    }
}
.list-method-reg {
    max-width: 540px;
    a {
        display: block;
        margin-bottom: 40px;
        font-size: 23px;
        color: #ffffff;
        font-family: $acrom;
        text-align: center;
        padding: 25px;
        font-weight: bold;
        &:hover {
            opacity: .9;
        }
    }
    .vk {
        background-color: #5e82a8;
        &:hover {}
    }
    .fb {
        background-color: #495aa0;
        &:hover {}
    }
    .ok {
        background-color: #e6a02b;
        &:hover {}
    }
    a.email {
        border: solid 2px #f48e3b;
        color: #000;
        &:hover {
            border: solid 2px #faa057;
        }
    }
}
.modal-art form {
    max-width: 580px;
    .form-group {
        margin-bottom: 30px;
    }
}
.add-more-wrap {
    .form-control {
        margin-bottom: 20px;
    }
}
.add-more a {
    font-weight: bold;
    font-family: $acrom;
    color: $colorLinkHover;
    &:hover {
        color: $colorLink;
    }
}
.adr-one {
    .map {
        position: relative;
        .btn {
            position: absolute;
            top: 14px;
            right: 11px;
        }
    }
    .list-events {
        margin-top: 110px;
        .h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    .list-jobs {
        margin-left: 0;
        .title {
            font-size: 24px;
        }
    }
}
.adr-left {
    margin-bottom: 20px;
    .inf {
        min-height: 256px;
    }
    .title {
        font-size: 23px;
        font-weight: 900;
        font-family: $acrom;
        margin-bottom: 46px;
        .ico {
            display: inline-block;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            background: #cacaca url(../images/m-big.png) no-repeat center 4px;
            margin-right: 7px;
            background-color: #25359b;
            vertical-align: middle;
            position: relative;
            top: -2px;
        }
    }
    .adress {
        font-size: 23px;
        color: #575757;
        margin-bottom: 16px;
    }
    .grafic {
        font-size: 15px;
        line-height: 1.5;
        color: #a4a4a4;
        margin-bottom: 20px;
    }
    .phone {
        font-size: 15px;
        color: #f9b53d;
    }
    .btn {
        &:hover {}
    }
}
.interer {
    margin-top: 98px;

    .t {
        color: #a4a4a4;
        margin-bottom: 10px;
        span {
            color: #000000;
            font-weight: 900;
            font-family: $acrom;
        }
    }
    .list {
            > a{
                padding: 0 2px;
                margin: 4px 0;
        display: block;
        float: left;
        width: 33.33%;
        img{
            width: 100%;
        }
    }
    }
    img {}
}
.list-actions {
    margin-bottom: 100px;
    .owl-stage-outer {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .item {
        cursor: pointer;
        transition: all .3s ease-in-out;
        -webkit-transform: scale(0.93);
        transform: scale(0.93);
        .img {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: all .3s ease-in-out;
                background: rgba(0, 0, 0, .3);
                z-index: 1;
            }
            a {
                &:hover {}
            }
            img {}
        }
        .inf {
            padding: 20px 25px;
            opacity: 0;
            transition: all .3s ease-in-out;
        }
        .date {
            background-color: #f9b53d;
            color: #fff;
            padding: 2px 7px;
            font-size: 12px;
            margin-bottom: 10px;
            display: inline-block;
        }
        .text {
            line-height: 1.6;
        }
    }
    .center .item {
        box-shadow: 0 0 4px 1px #C1C1C1;
        cursor: default;
        transform: scale(1);
        .img:before {
            opacity: 0;
            visibility: hidden;
        }
        .inf {
            opacity: 1;
        }
    }
}
.banner-acton {
    margin-top: -50px;
    margin-bottom: 46px;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}
.action-one {
    padding: 0 15px;
    max-width: 960px;
    margin: 0 auto 50px;
    h1 {
        margin-top: 0;
        font-weight: 900;
        font-family: $acrom;
        margin-bottom: 24px;
    }
    p {
        line-height: 1.6;
        margin-bottom: 20px;
    }
}
.page-inner .adr-h {
    font-size: 38px;
    margin-bottom: 30px;
    &:before {
        bottom: -20px;
    }
}
.page-inner2 {
    margin-top: 60px;
}
.big-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
    display: none;
    .to-back {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    img {
        width: 100%;
    }
}
.wrap-r {
    position: relative;
    .map {
        padding-right: 1px;
    }
}
#map {
    width: 100%;
    height: 700px;
    span.t,
    span.t4,
    span.t2,
    span.t3 {
        display: block;
    }
    span.t3 {
        color: #9CA5A7;
        font-size: 11px;
    }
    span.t4 {
        font-size: 11px;
        span {
            margin-left: 7px;
        }
    }
    .ymaps-2-1-38-balloon,
    .ymaps-2-1-38-balloon__layout {
        border-radius: 5px;
        background: #EFF8FA;
    }
    .ymaps-2-1-38-balloon__layout,
    .ymaps-2-1-38-balloon__content,
    .ymaps-2-1-38-balloon__tail:after {
        background: #EFF8FA;
    }
}
.square_layout {
    position: relative;
    height: 32px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: url(../images/map-ico.png) no-repeat;
    &:hover {
        opacity: .4;
    }
}
.wrap-r #map {
    height: 550px;
}
@import "responsive";
